@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto';
}

.button-grille-quiz {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 500px;
    height: 500px;
    border-radius: 0px !important;
}

.containerG {
    flex-direction: column !important;
    margin: 5px;
}

.img-grille-quiz {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0px !important;
}

#hiragana {
    width: 95%;
}

.containerB {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-grille-quiz {
    border-radius: 0px !important;
    max-width: 495px;
    max-height: 495px;
    align-content: center;
    font-weight: bold;
    font-size: xx-large;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.containerD {
    margin: 5px;
}

.open {
    align-items: flex-end;
}

.close {
    align-items: flex-start;
}

@media (max-width: 650px) {
    .button-grille-quiz {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 150px;
        height: 150px;
        border-radius: 0px !important;
    }
    
    .img-grille-quiz {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0px !important;
    }
    
    .p-grille-quiz {
        border-radius: 0px !important;
        max-width: 145px;
        max-height: 145px;
        align-content: center;
        font-weight: bold;
        font-size: large;
        word-break: keep-all;
        overflow-wrap: break-word;
    }

    #hiragana {
        width: 130px;
    }

    .containerD {
        font-size: x-small !important;
    }
}