@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

body {
    display: grid;
    align-items: center;
    height: 100vh;
}

.containerG {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centre horizontalement */
    /*height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

/* Style pour ContainerD */
.containerD {
    display: flex;
    flex-direction: column;
    /* Met les éléments en colonne */
    align-items: center;
    /* Centre les éléments horizontalement */
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    /* Largeur maximale du container */
    margin: 0 auto;
    /* Centre le container sur la page */
}

/* Style pour l'image */
.containerD img {
    width: 50px;
    /* Taille de l'image */
    height: auto;
}

/* Style pour le paragraphe */
.containerD p {
    text-align: center;
    /* Centre le texte */
    margin: 0 0 20px 0;
    /* Espace en bas du texte */
    color: #333;
    /* Couleur du texte */
    /*font-family: Arial, sans-serif;*/
    border: 1px solid #ccc;
    /* Bordure autour du texte */
    padding: 10px;
    border-radius: 5px;
    /* Bordures arrondies */
    background-color: #fff;
    /* Couleur de fond de la "case" */
}

/* Style pour les boutons */
.containerD button {
    width: 100px;
    /* Largeur des boutons */
    padding: 10px;
    margin: 5px 0;
    /* Espace entre les boutons */
    border: none;
    /* Enlève les bordures par défaut */
    border-radius: 5px;
    background-color: rgb(127, 0, 255);
    /* Couleur de fond */
    color: white;
    /* Couleur du texte */
    /*font-family: Arial, sans-serif;*/
    cursor: pointer;
    /* Change le curseur en main */
    transition: background-color 0.3s;
    /* Animation pour le changement de couleur */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: none;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    width: 10vw;
    height: 10vw;
    animation: spin 2s linear infinite;
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 45vw;
}

.containerD button:hover {
    background-color: #0056b3;
    /* Couleur de fond au survol */
}

a {
    text-decoration: none;
    color: white;
}

/* Style pour .container */
.container {
    display: flex;
    flex-direction: column;
    /* Change la direction en colonne */
    /* Centre les éléments horizontalement */
    justify-content: space-around;
    /* Espacement entre les éléments */
    align-items: center;
    justify-self: center;
    /* Centre les éléments verticalement */
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    /* Utilise toute la largeur disponible */
    margin: 0 auto;
    /* Centre le container sur la page */
}

/* Style pour le bouton JOUER */
.container button.jouer {
    width: 150px;
    /* Largeur du bouton JOUER */
    padding: 10px;
    margin: 10px 0;
    /* Espace autour du bouton */
    border: none;
    /* Enlève les bordures par défaut */
    border-radius: 5px;
    background-color: #28a745;
    /* Couleur de fond */
    color: white;
    /* Couleur du texte */
    /*font-family: Arial, sans-serif;*/
    cursor: pointer;
    /* Change le curseur en main */
    transition: background-color 0.3s;
    /* Animation pour le changement de couleur */
}

.container button.jouer:hover {
    background-color: #218838;
    /* Couleur de fond au survol */
}

/* Style pour les div contenant les <select> et <input> */
.container .form-group {
    display: flex;
    flex-direction: row;
    /* Par défaut, les éléments sont en ligne */
    align-items: center;
    margin: 10px 0;
    /* Espace autour de chaque groupe de formulaire */
}

/* Style pour les <select> */
.container select {
    padding: 8px;
    margin: 5px;
    /* Espace autour des select */
    border: 1px solid #ccc;
    /* Bordure des select */
    border-radius: 5px;
    /* Bordures arrondies */
    /*font-family: Arial, sans-serif;*/
    font-size: 14px;
    /* Taille de la police */
    background-color: #fff;
    /* Couleur de fond */
    cursor: pointer;
    /* Change le curseur en main */
}

/* Style pour les <input> de type nombre */
.container input[type="number"] {
    width: 130px;
    /* Largeur des input */
    padding: 8px;
    margin: 5px;
    /* Espace autour des input */
    border: 1px solid #ccc;
    /* Bordure des input */
    border-radius: 5px;
    /* Bordures arrondies */
    /*font-family: Arial, sans-serif;*/
    font-size: 14px;
    /* Taille de la police */
    background-color: #fff;
    /* Couleur de fond */
}

.containerB {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grille {
    /* margin-left: 15px; */
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
}

.animate {
    animation: Animation 0.5s ease 0s 1 normal forwards;
}

.button-grille {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 125px;
    height: 125px;
    cursor: pointer;
}

.img-grille {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0px !important;
}

.p-grille {
    border-radius: 0px !important;
    width: 120px;
    height: 120px;
    align-content: center;
    font-weight: bold;
    font-size: large;
    word-break: keep-all;
    overflow-wrap: break-word;
    display: grid !important;
    position: relative !important;
}

.textFitAlignVert {
    position: relative !important;
}

#wtf {
    text-align: center;
}

input[type="text"] {
    text-align: center;
    width: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #ffffff;
    color: #333;
}

.textFitted {
    position: relative !important;
}

input[type="text"]:focus {
    border-color: rgb(127, 0, 255);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

@media (max-width: 1000px) {
    .button-grille {
        width: 75px;
        height: 75px;
    }

    .p-grille {
        width: 70px;
        height: 70px;
        font-size: x-small;
    }

    .grille {
        margin-bottom: 15px;
        margin-left: 10px;
    }

    .containerG {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Centre verticalement et horizontalement */
    }

    .containerD {
        flex-direction: column;
        /* Change la direction en ligne */
        justify-content: space-around;
        /* Espacement entre les éléments */
        max-width: 100%;
        /* Utilise toute la largeur disponible */
    }

    .container {
        flex-direction: column;
        /* Change la direction en colonne */
        align-items: center;
        /* Centre les éléments horizontalement */
    }

    .container .form-group {
        flex-direction: column;
        /* Assure que les form-group restent en colonne */
        align-items: center;
    }

    .container .form-group select {
        width: 80%;
        /* Largeur adaptée pour s'adapter à l'espace */
    }

    .container input[type="number"] {
        width: 70%;
    }

    .containerB {
        flex-direction: row;
    }

    #wtf {
        margin-top: 5px;
    }
}

@keyframes Animation {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60% {
        transform: translateX(5px);
    }

    80% {
        transform: translateX(3px);
    }

    90% {
        transform: translateX(-3px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}